.scribe__toolbar {
  display: flex;
  width: 100%;
}

.scribe__toolbar__item {
  padding: 10px;
  font-size: 12px;
  background-color: $greyBgColor;
  border: {
    left: 1px solid $greyBorderColor;
    top: 1px solid $greyBorderColor;
  }

  &:last-child {
    border-right: 1px solid $greyBorderColor;
  }

  &:hover {
    background-color: $darkGreyBgColor;
  }
}

.scribe__editor {
  width: 100%;
  padding: 20px;
  background: $cWhite;
  border: 1px solid $greyBorderColor;
  font-family: 'Guardian Egyptian Text', Georgia, serif;
  font-size: 16px;

  &:focus {
    border-color: $brandColor;
    outline: none;
  }
}

.note--start.note--collapsed, .note--start.note--end {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 8 20' version='1.1'><path d='M 0 0 L 6 0 L 0 6 L 0 0 L 2 0 L 2 20 L 0 20' fill='%232983b6' stroke='none'/></svg>") 0 0/contain no-repeat,url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 2 1' version='1.1'><line x1='0' y1='0' x2='2' y2='0' stroke='%232983b6' stroke-dasharray='1'/></svg>") top/2px repeat-x,url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 2 1' version='1.1'><line x1='0' y1='0' x2='2' y2='0' stroke='%232983b6' stroke-dasharray='1'/></svg>") bottom/2px repeat-x,url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 8 20' version='1.1'><path d='M 8 20 L 2 20 L 8 14 L 8 20 L 6 20 L 6 0 L 8 0' fill='%232983b6' stroke='none'/></svg>") 100% 100%/contain no-repeat;
    background-color: rgba(230,242,247,.3);
    margin-right: 1px;
    padding-right: 4px;
    margin-left: 1px;
    padding-left: 4px;
}

.note--start:before, .note-end:after {
  content: '|';
    position: relative;
    width: 8px;
    height: 100%;
    cursor: pointer;
    pointer-events: all;
    opacity: 0;
}

.note--collapsed.note--start {
    transition: width .15s ease,margin .15s ease;
    padding: 0;
    margin: 0 2px;
    width: 18px;
    height: 1.2em;
    display: inline-block;
    overflow: hidden;
    text-indent: 24px;
    vertical-align: middle;
    pointer-events: all;
}

.note--collapsed:hover {
    margin: 0;
    width: 20px;
    cursor: pointer;
}

.note--start:before {
    margin: 0 0 0 -3px;
}

.note--end:after {
    margin: 0 -5px 0 2px;
}
