.atom-card {
  display: flex;
  border: 1px solid $color300Grey;
  background-color: $color200Grey;
  height: 100%;
}

.atom-card--header {
  @extend .atom-card;
  height: auto;
}

.atom-card__details {
  width: 100%;
  padding: 10px;
  color: $textColor;
}

.atom-card__heading {
  padding-bottom: 10px;
}

.atom-card__subheading {
  margin-bottom: 10px;
}

.atom-card__icon {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $brandColor;
}

.atom-card {
  .form__label {
    font-size: 17px;
    padding-right: 10px;
  }
}

.atom-card__dates {
  list-style: none;
  margin: 0;
  padding: 0;
}
