.atom-type {
  display: inline-flex;
  width: calc(50% - 10px);
  min-width: 300px;

  margin: 10px 10px 0 0;
  padding: 10px 10px 10px 0;

  border: 1px solid $color300Grey;

  color: $color700Grey;
  text-decoration: none;

  &__icon {
    flex-grow: 0;
    flex-shrink: 0;
    width: 90px;
    padding: 5px;
  }
}
