
.atom-editor {
  max-width: 600px;
  padding: 20px;
  margin: 10px auto;
  background: $color150Grey;
  border: 1px solid $color300Grey;

  &__title {
    margin-bottom: 20px;
    border-bottom: 1px solid $color300Grey;
  }

  &__section {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $color300Grey;
  }

  &__form {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid $color300Grey;
  }

  .is-embedded & {
    background: white;
    border-width: 0;
  }

  &__embed-pick {
    padding: 10px;

    background-color: $color200Grey;
    margin-bottom: 10px;
    
    .btn {
      display: inline-block;
      padding: 5px 10px;
    }

  }
}
