// -----------------------------------------------------------------------------
// This file contains styles for all buttons.
// -----------------------------------------------------------------------------
button {
  // Reset for browser buttons
  -webkit-appearance: none;
  cursor: pointer;
  outline: 0;
  border: 0;
  background: transparent;
  padding: 0;
}

.btn {
  display: block;
  padding: 10px;
  background: $darkBrandColor;
  color: $cWhite;
  font-size: 12px;
  font-weight: bold;

  &:hover {
    background: $brandColor;
  }

  &--margin {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    &:first-child {
      margin-left: 5px;
    }
  }


  &--green {
    background: $cGreen33;

    &:hover {
      background: $btnDeepCtaHoverBgColor;
    }
  }

  &--red {
    background: $cRedB5;

    &:hover {
      background: $cRedE3;
    }
  }

  &:disabled {
    background-color: $color400Grey;
    color: $color500Grey;
  }
}
