// -----------------------------------------------------------------------------
// This file contains styles for all form elements
// -----------------------------------------------------------------------------

.form {
  display: block;
}

.form__row {
  margin-bottom: 20px;
}

.form__field {
  background-color: $cWhite;
  padding: 11px;
  border: 1px solid $color300Grey;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &:focus {
    border-color: $brandColor;
    outline: none;
  }

  // Because select elements are THE WORST
  &--select {
    background: url(../images/arrow.png) $cWhite no-repeat right 10px center;
    padding-right: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    text-indent: .01px;
    text-overflow: '';
  }

  &--error, &--error:focus {
    border-color: $cRedB5;
  }

}

.form__group {
  margin-bottom: 5px;
}

// because they're special snowflakes
.form__radio-btn, .form__checkbox {
  display: inline-block;

  & + .form__label {
    margin-left: 5px;
  }
}

.form__label {
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 5px;

  &--radio, &--checkbox {
    display: inline-block;
    margin: 0;
    font-weight: normal;
  }
}

.form__message {
  margin-bottom: 10px;
}

.form__message__text {
  font-size: 13px;

  &--error {
    color: $cRedB5;
  }
}
