// -----------------------------------------------------------------------------
// This file contains styles for all form elements
// -----------------------------------------------------------------------------

.form {
  display: block;
}

// To separate blocks of related fields
.form__section:not(:last-child) {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.form__row {
  margin-bottom: 20px;

  &--field-with-btn {
    display: flex;
  }

  // Not great naming
  &--flex-width {
    width: 100%;
  }

  &--nested {
    background: $color250Grey;
    padding: 10px;

    .form__section:not(:last-child), .form__btn-heading {
      border-color: $color400Grey;
    }
  }
}

.form__field {
  background-color: $cWhite;
  padding: 11px;
  border: 1px solid $color300Grey;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &:focus {
    border-color: $brandColor;
    outline: none;
  }

  // Because select elements are THE WORST
  &--select {
    background: url(../images/arrow.png) $cWhite no-repeat right 10px center;
    padding-right: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    text-indent: .01px;
    padding: 9px; // Select boxes don't adhere to box-sizing
  }

  &--error, &--error:focus {
    border-color: $cRedB5;
  }
}

.form__group {
  margin-bottom: 5px;

  &--flex {
    display: flex;
    margin-bottom: 20px;
    align-items: center;

    & .form__row--flex {
      margin-bottom: 0;
      width: 100%;
    }
  }
}

.form__field-number {
  font-size: 16px;
  margin-right: 10px;
}

// because they're special snowflakes
.form__radio-btn, .form__checkbox {
  display: inline-block;

  & + .form__label {
    margin-left: 5px;
  }
}

.form__label {
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 5px;

  &--radio, &--checkbox {
    display: inline-block;
    margin: 0;
    font-weight: normal;
  }
}

.form__message {
  margin-bottom: 10px;
}

.form__message__text {
  font-size: 13px;

  &--error {
    color: $cRedB5;
  }
}

.form__subheading {
  margin-bottom: 10px;
  border-bottom: 1px solid $color300Grey;
}

.form__field__suggestions {
  border-top: 1px solid $color400Grey;
}

.form__field__suggestion {
  display: block;
  background-color: $color100Grey;
  border: 1px solid $color400Grey;
  border-top: 0;
  width: 100%;
  padding: 5px 10px;
  cursor: pointer;
}

.form__btn-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $color300Grey;

  &__btn {
    background: $darkBrandColor;
    padding: 5px 7px;
    line-height: 1;
    color: $cWhite;
    margin-left: 10px;

    &:hover {
      background: $brandColor;
    }
  }
}

// Flex container for side by side fields and other adventures
.form__flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; // makes sure items without a label line up

  &__item {
    flex-grow: 1;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
