.list {
  .list__item {
    padding: 5px 10px;
  }
  .list__item + .list__item {
    border-top: 1px solid $color300Grey;
  }
}

.list__item__title {
  font-weight: 700;
}

.list__item--error .list__item__title {
  color: $errorColor;
}
