.scribe__toolbar {
  display: flex;
  width: 100%;
}

.scribe__toolbar__item {
  padding: 10px;
  font-size: 12px;
  background-color: $greyBgColor;
  border: {
    left: 1px solid $greyBorderColor;
    top: 1px solid $greyBorderColor;
  }

  &:last-child {
    border-right: 1px solid $greyBorderColor;
  }

  &:hover {
    background-color: $darkGreyBgColor;
  }
}

.scribe__editor {
  width: 100%;
  padding: 20px;
  background: $cWhite;
  border: 1px solid $greyBorderColor;
}
