.workflow__info {
  font-size: 13px;
  margin-bottom: 10px;

  thead {
    border-bottom: solid $color400Grey 1px;
  }


  td {
    text-align: center;
    padding-top: 5px;
  }

  td, th {
    padding-right: 10px;
  }
}
